@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,900&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: black;
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: background 0.4s linear;

	text-align: center;
	margin: 0;
	min-height: 100vh;
}

#London{
	display: none;
}

#Paris{
	display: none;
}
#Tokyo{
	display: none;
}


h3 {
	color: #fff;
	
}

.p{
	margin-top: 12px;
}

.tab-nav-container {
    background-color: #1a1a1a;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    justify-content: space-between;
    /* padding: 30px; */
    height: 9%;
	position: fixed;
	bottom: 10px;
}

.tab {
    background-color: #1a1a1a;
    font-size: 14px;
    border-radius: 50px;
    width: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0px;
    margin: 11px 10px 0px 10px;
    transition: background 0.4s linear;
}

.tab i {
    font-size: 1.2em;
}

.tab p {
    font-weight: bold;
    overflow: hidden;
    max-width: 0;
}

.tab.active p {
    margin-left: 10px;
    max-width: 200px;
    
    transition: max-width 0.4s linear;
}

.tab.active.purple {
    background-color: rgba(91, 55, 183, 0.2);
    color: rgba(91, 55, 183, 1);
}

.tab.active.pink {
    background-color: rgba(201, 55, 157, 0.2);
    color: rgba(201, 55, 157, 1);
}

.tab.active.yellow {
    background-color: rgba(230, 169, 25, 0.2);
    color: rgba(230, 169, 25, 1);
}

.tab.active.teal {
    background-color: rgba(28, 150, 162, 0.2);
    color: rgba(28, 150, 162, 1);
}

/* @media (max-width: 450px) {
    .tab-nav-container {
        padding: 20px;
        width: 350px;
    }

    .tab {
        padding: 0 10px;
        margin: 0;
    }

    .tab i {
        font-size: 1em;
    }
} */

