@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600;1,900&display=swap');

* {
	box-sizing: border-box;
}

body {
	background: black;
	font-family: 'Poppins', sans-serif;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	transition: background 0.4s linear;

	text-align: center;
	margin: 0;
	min-height: 100vh;
}

#London{
	display: none;
}

#Paris{
	display: none;
}
#Tokyo{
	display: none;
}


h3 {
	color: #fff;
	
}

.p{
	margin-top: 33px;
}

.tab-nav-container {
    background-color:white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    justify-content: space-between;
    /* padding: 30px; */
    height: 9%;
	position: fixed;
	bottom: 10px;
}

.tab {
    background-color: white;
    font-size: 14px;
    border-radius: 50px;
    width: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 0px;
    margin: 11px 10px 0px 10px;
    transition: background 0.4s linear;
}

.tab i {
    font-size: 1.2em;
    
}

.tab p {
    font-weight: bold;
    overflow: hidden;
    max-width: 0;
}

.tab.active p {
    margin-left: 10px;
    max-width: 200px;
    
    transition: max-width 0.4s linear;
}

.tab.active.purple {
    background-color: rgba(91, 55, 183, 0.2);
    color: rgba(91, 55, 183, 1);
}

.tab.active.pink {
    background-color: rgba(201, 55, 157, 0.2);
    color: rgba(201, 55, 157, 1);
}

.tab.active.yellow {
    background-color: rgba(230, 169, 25, 0.2);
    color: rgba(230, 169, 25, 1);
}

.tab.active.teal {
    background-color: rgba(28, 150, 162, 0.2);
    color: rgba(28, 150, 162, 1);
}

/* @media (max-width: 450px) {
    .tab-nav-container {
        padding: 20px;
        width: 350px;
    }

    .tab {
        padding: 0 10px;
        margin: 0;
    }

    .tab i {
        font-size: 1em;
    }
} */

/* html,
body {
  width:100%;
  height:100%;
  min-height: 400px;
  min-width: 900px;
  font-family: Sans-Serif;
} */
/* html,
body {
  width:100%;
  height:100%;
  min-height: 400px;
  min-width: 900px;
  font-family: Sans-Serif; */
/* 
  html,
  body {
    width:100%;
    height:100%;
    min-height: 400px;
    min-width: 900px;
    font-family: Sans-Serif;
  }
  body {
    overflow-x:hidden;
    background:#2980b9;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  } */
  .rail {
    display: flex;
    align-items: center;
    position: relative;
    margin: 20px 0;
    width: 500px;
    height: 100px;
    overflow: hidden
  }
  .rail > div {
    position: absolute;
    padding-top:0px;
    padding-bottom:18px;
    right: -100px;
    top: 12px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: #2a9;
    animation-name: railmove;
    animation-duration: 10s;
    animation-timing-function: linear; 
    animation-iteration-count: infinite;
    border-radius: 50px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
    color: white;
    font-size: 40px;
  }
  @keyframes railmove {
    0% {right: -100px;}
    50%, /*<- change value for speed adjustment */
    100% {right: calc(100% + 10px);}
  }
  /* animation-delay = animation-duration / childcount * (nth-child - 1) * -1 */
  .rail > div:nth-child(2)  {animation-delay: -1s;}
  .rail > div:nth-child(3)  {animation-delay: -2s;}
  .rail > div:nth-child(4)  {animation-delay: -3s;}
  .rail > div:nth-child(5)  {animation-delay: -4s;}
  .rail > div:nth-child(6)  {animation-delay: -5s;}
  .rail > div:nth-child(7)  {animation-delay: -6s;}
  .rail > div:nth-child(8)  {animation-delay: -7s;}
  .rail > div:nth-child(9)  {animation-delay: -8s;}
  .rail > div:nth-child(10) {animation-delay: -9s;}
  .rail > div:nth-child(2n) {background-color: #DD0;}
  .rail > div:nth-child(10) {background-color: red;}
  
  input[type=checkbox]:checked + .rail > div {
    animation-play-state: paused
  }
  
  .jam > .rail > div {
    animation-timing-function: cubic-bezier(0, 0.42, 1, 0.58);
  }
  .jam {
    position: relative;
  }
  .jam > input[type=checkbox] {
    position: absolute;
    width: 40px;
    height: 40px;
    left:425px;
    bottom:-40px;
  }
  .jam > input[type=checkbox]:after {
    content: 'stop';
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    background-color: red;
    border-radius: 5px;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
  }
  .jam > input[type=checkbox]:active:after {
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
  }
  .jam > input[type=checkbox]:checked:after {
    content: 'start';
    background-color: #2a9;
  }
  
  i{
    font-size: 30px;
  }



  